<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>活动详情</title>
<link href="{/version file="popular.css"/}" rel="stylesheet" />
</head>

<body>
<div class="header">
	<div><a href="{/base_lib_Constant::MAIN_URL_NO_HTTP/}" target="_blank" ><img src="{/$siteurl.style/}/img/ranking/logo.jpg" width="103" height="23" /></a></div>
</div>
<div class="popularBg">
	<img style="display:block;" src="{/$siteurl.style/}/img/ranking/popular01.jpg" width="1000" height="200" />
    <div class="popularMian">
    	<div class="popularT">
        	<h2>年初是招聘旺季，为了给企业增加更多曝光机会，汇博网举办人气企业活动，让企业收到更多的简历！</h2>
            <p>1、本次活动<em>完全免费</em>，不收取任何费用</p>
            <p>2、本次活动曝光机会为额外增加，不会对原有用户造成影响</p>
        </div>
        <div class="popularTg">
        	<h2 class="pTit01">对企业的价值</h2>
            <p><b>每天早上9点更新最近15天内的点赞数榜单，排在前面的企业可获得：</b></p>
            <p>在首页展示最近15天获赞数总榜前3名！在榜单页展示最近获赞数总榜100名和分行业的前10名！增加你的曝光几率；</p>
            <p>搜索结果列表单独增加最具人气企业排序；</p>
            <p>搜索结果、企业主业中展示最具人气标识；</p>
        </div>
        <div class="popularTg">
        	<h2 class="pTit02">进不了前100名怎么办？我们还有分行业10强榜单</h2>
            <ul>
            	<li>在本行业(多行业的以主行业为准)进入前10即可获得在活动页展示</li>
                <li>在搜索结果列表中进入最具人气企业排序中</li>
            </ul>
        </div>
        <div class="popularTg">
        	<h2 class="pTit02">行业中也进不了10强怎么办？我们仍然有奖励</h2>
            <ul>
            	<li>在搜索结果列表（最具人气企业排序）中会根据你的点赞排名排序，只要努力，求职者搜索某行业，你一样有机会排到前面增加额外曝光机会；</li>
            </ul>
        </div>
        <div class="popularTg">
            <h2 class="pTit01">如何才能获得赞</h2>
            <ul>
                <li>1、在企业招聘中心首页有下图所示的按钮，点击“分享宣传页到朋友圈”即可用微信扫描二维码</li>
                <li>2、发动微信好友进行转发；</li>
                <li>3、让大家都点击宣传页最后一页的“赞，值得加入”即可收获赞数；</li>
            </ul>
            <img class="shot" src="{/$siteurl.style/}/img/ranking/hblikes.jpg" />
        </div>
        <div class="popularTg">
        	<h2 class="pTit01" style="margin-bottom:0px;">如何获得更高排名</h2>
            <ul>
            	<li>发动亲友、同事、七大姑八大姨都去分享点赞，自然点赞刷刷涨；</li>
                <li>数据记录最近15天内，所以持续不断的努力更重要；</li>
            </ul>
        </div>
        <div class="popularTg">
        	<h2 class="pTit01" style="margin-bottom:0px;">其他注意事项</h2>
            <ul>
            	<li>悄悄告诉你，在榜单页可以直接搜索你的企业名，然后点击分享即可，这样只需要把榜单地址发给朋友即可让他们去微信分享，不用再加微信了，是不是很方便</li>
            </ul>
        </div>	
        <div class="popularTg">
        	<h2 class="pTit02">看了上面的介绍还有疑问？</h2>
            <p style="color:#666; padding-top:10px;">联系客服吧，她会给你详细解答你的疑惑</p>
            <div class="pTit05">
                <p>
                	<span>汇博客服</span>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2851501286&site=qq&menu=yes"><img border="0"  width="79" height="25" src="http://wpa.qq.com/pa?p=2:2851501286:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
                </p>
                <p>
                    <span>汇博客服</span>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2851501279&site=qq&menu=yes"><img border="0"  width="79" height="25" src="http://wpa.qq.com/pa?p=2:2851501279:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
©{/date("Y", time())/} 汇博网 版权所有  |  增值电信业务经营许可证：渝B2-20060063  |  人才中介服务许可证：渝中人社[2011]216号
</div>
</body>
</html>
