<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>活动详情</title>
<link href="{/version file="popular.css"/}" rel="stylesheet" />
</head>
<body>
<div class="hbPopCent">
    <h1>汇博人气企业100强介绍</h1>
    <div class="hbPopCtit">本次活动完全免费，不用付费也能获得汇博为你精心挑选的黄金广告位！</div>
    <div class="hbPopCtit2">对企业的价值：</div>
    <div class="hbPopCtit3">首页展示榜单前3名企业</div>
    <img src="{/$siteurl.style/}/img/new_ranking/activity02.jpg" width="1000" height="154" />
    <div class="hbPopCtit3">榜单页展示前100名以及行业前10名公司</div>
    <img src="{/$siteurl.style/}/img/new_ranking/activity03.jpg" width="1000" height="287" />
    <div class="hbPopCtit3">搜索结果列表单独增加最具人气企业排序；展示人气图标，提升排名权重</div>
    <img src="{/$siteurl.style/}/img/new_ranking/activity04.jpg" width="1000" height="315" />
    <div class="hbPopCtit2">如何才能获得“值得加入”</div>
    <div class="hbPopCtit4">
        <p>1、在企业招聘中心首页点击“分享宣传页到朋友圈”即可用微信扫描二维码</p>
        <p>2、发动微信好友进行转发；</p>
        <p>3、让大家都点击宣传页最后一页的“值得加入”即可</p>
    </div>
    <img src="{/$siteurl.style/}/img/new_ranking/activity05.jpg" width="681" height="231" />
    <div class="hbPopCtit2" style="padding-top:40px;">如何才能获得更高排名</div>
    <div class="hbPopCtit4">
        <p>• 发动亲友、同事、七大姑八大姨都去分享点击“值得加入”，自然人数刷刷涨；</p>
        <p>• 数据记录最近15天内，所以持续不断的努力更重要；</p>
    </div>
    <div class="hbPopCtit2" style="padding-top:40px;">其他注意事项</div>
    <div class="hbPopCtit4">
        <p>悄悄告诉你，在榜单页可以直接搜索你的企业名，然后点击分享即可，这样只需要把榜单地址发给朋友即可让</p>
        <p>他们去微信分享，不用再加微信了，是不是很方便</p>
    </div>
    <div class="hbPopCtit5">
        <h2>看了上面的介绍还有疑问？<span>（联系客服吧，她会给你详细解答你的疑惑）</span></h2>
        <div>
            <p><span>汇博客服</span>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2851501286&site=qq&menu=yes"><img border="0" src="{/$siteurl.style/}/img/new_ranking/qqservice.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            </p>
            <p><span>汇博客服</span>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2851501279&site=qq&menu=yes"><img border="0" src="{/$siteurl.style/}/img/new_ranking/qqservice.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
        </div>
    </div>
</div>
<div class="footer">
©2015 汇博人才网 版权所有  |  增值电信业务经营许可证：渝B2-20060063  |  人才中介服务许可证：渝中人社[2011]216号
</div>
</body>
</html>