<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>常见问题</title>
	<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}"/>
	<link rel="stylesheet" type="text/css" href="{/version file='questions.css'/}"/>
</head>
<body>
    {/$head_data/}
    {/$head_nav_data/}
	<div class="questions">
		<div class="title">
			<img src="{/$siteurl.style/}/img/www/company/question.jpg" class="qus_img">
			<p class="qus_des">企业常见问题梳理</p>
		</div>
		<ul class="qus_content">
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">企业遇到不回消息或未接通的求职者如何解决？</p>
				<span class="answer">答：</span><span class="qus_two">点击邀请面试30s后挂断，直接跳转到一下个</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">手机扫码面试后出现乱码，不能进行正常面试？</p>
				<span class="answer">答：</span><span class="qus_two">下载最新版本的企业端APP</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">企业密码输错导致账号被禁！</p>
				<span class="answer">答：</span><span class="qus_two">联系工作人员进行解封</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">上午未面试完的求职者是否可以留到下午继续面试吗？</p>
				<span class="answer">答：</span><span class="qus_two">可以继续面试（可与学生电话联系后，提高面试率）</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">企业面试时间是多少？</p>
				<span class="answer">答：</span><span class="qus_two">面试默认时间是5分钟，可延长5分钟，共10分钟，若未仍完成面试，后期可点击复试进行再次面试。</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">企业面试完上一个求职者，无法面试下一个求职者？</p>
				<span class="answer">答：</span><span class="qus_two">上一个面试者未正常退出，检查是否为浏览器阻止消息。</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">是否可以不开放面试只接收简历？</p>
				<span class="answer">答：</span><span class="qus_two">可以</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">学生看不到HR的视频，仅HR自己可见，摄像头已开，为什么？</p>
				<span class="answer">答：</span><span class="qus_two">请查看网络情况</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">很多不合适的专业投递简历，是否需要一个个面试？</p>
				<span class="answer">答：</span><span class="qus_two">为保障学生能得到正常的面试机会，系统默认跳过人数为10次，超过次数仍不合适的求职者，可以接通后告知求职者情况后再挂断</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">HR面试后误点不合适去哪里修改？</p>
				<span class="answer">答：</span><span class="qus_two">暂时不能修改，只能单独联系求职者</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">没有求职者申请面试？</p>
				<span class="answer">答：</span><span class="qus_two">可主动在求职者大厅邀请求职者进行面试，通过与求职者在线聊天或查看其联系方式进行沟通后，进行视频面试。</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">如何查看已申请面试的求职者？</p>
				<span class="answer">答：</span><span class="qus_two">面试大厅会有申请名单和排队名单</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">为什么会有面试名额限制？</p>
				<span class="answer">答：</span><span class="qus_two">为防止求职者在某一企业申请数量太多，系统根据单个求职者面试时间5分钟进行计算，面试人数为企业设置的面试时间除以单个面试时间计算。</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">点面试没反应？</p>
				<span class="answer">答：</span><span class="qus_two">ctrl+f5强制刷新页面</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">面试完没有选项，怎么处理？</p>
				<span class="answer">答：</span><span class="qus_two">ctrl+f5强制刷新页面</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">求职者主动申请面试只能在视频面试大厅发起面试</p>
				<span class="answer">答：</span><span class="qus_two">是的</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">选择学生不合适，学生是否能看见？</p>
				<span class="answer">答：</span><span class="qus_two">能看见</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">是否可以从后台批量导出学生投递公司的简历？</p>
				<span class="answer">答：</span><span class="qus_two">不能</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">是否可以直接对求职者发送面试结果？</p>
				<span class="answer">答：</span><span class="qus_two">只能视频面试后才能选择面试结果。</span>
			</li>
			<li>
				<img src="{/$siteurl.style/}/img/www/company/asking.png" alt="" class="ask">
				<p class="qus_one">在非面试时间内投递简历的学生，系统是否会给学生排号面试？</p>
				<span class="answer">答：</span><span class="qus_two">不会排号，就只是收取学生的简历</span>
			</li>
		</ul>
	</div>
</body>
</html>
