<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>{/$title/}</title>-->
</head>
<body>
<style>
    td{text-align: left;}

</style>
<table border="1">
    <thead>
<!--    <tr>
        <td class="show-name" colspan="8">职位：{/$job_name/} - 访问记录</td>
    </tr>-->
    <tr>
        <td class="show-name" style=" width: 220px">时间</td>
        <td>曝光量</td>
        <td>点击量</td>
        <td>点击率</td>
        <td>接收简历</td>
        <td>邀请面试</td>
        <td>投递率</td>
        <td>邀请率</td>
    </tr>
    </thead>
    <tbody>
    {/foreach $list as $visit/}
    <tr>
        <td>{/date('Y-m-d',strtotime($visit['visit_time']))/}</td>
        <td>{/$visit['exposes_count']/}</td>
        <td>{/$visit['visit_count']/}</td>
        <td>{/$visit['click_rate']/}%</td>
        <td>{/$visit['apply_count']/}</td>
        <td>{/$visit['invite_count']/}</td>
        <td>{/$visit['delivery_rate']/}%</td>
        <td>{/$visit['invitation_rate']/}%</td>
    </tr>
    {//foreach/}
    </tbody>
</table>
</body>
