
<div>
<div style="padding:20px;font-size:14px">
    请选择贵企是中介还是直招，选择后将不可更改，请如实选择：
</div>
<div style="padding:0px 20px;text-align: left;font-size:14px">
    <label><input type="radio" name="agency" value="2" checked="checked" />直招</label>
    <label style="display: inline-block;margin-left:40px"> <input name="agency" type="radio" value="1">中介</label>

</div>
    <p style="text-align:center;margin-top:20px;margin-bottom:20px;margin-right:20px"><a href="javascript:;" id="subButton" class="btnsF16 btn1" style="height:35px;line-height: 35px;font-size:14px;padding:0 20px">确定</a></p>
</div>
    
    

