<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇博招聘规范</title>
    <!–[if lt IE9]>
    <script src="{/version file='html5.js'/}"></script>
    <![endif]–>
    <link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="comback.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="icons.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file='v2-widge.css'/}" />
    <style>
        .content{font-family: "Microsoft YaHei";color: #666;}
        .content p{font-size: 16px;color: #444;line-height: 2;}
    </style>
</head>
<body>
{/include file="new_header.html" cur="汇博招聘规范"/}
<div class="content" id="content" style="position: relative;z-index: 1">
    <section class="section">
        <div style="padding:0px 60px 60px 60px;">
            <h2 style="text-align: center;font-size: 24px;color: #444; border-bottom: 1px solid #dadada;padding: 40px 0px 20px 0;margin-bottom: 20px;">汇博招聘规范</h2>
            <p>1、招聘职位类别与岗位职责描述和岗位要求描述需相符合</p>
            <p>2、职位名称必须清晰明确；岗位职责描述需明确具体</p>
            <p>3、<span style="color:red;">禁止发布重复职位</span>，停止招聘的职位请及时关闭</p>
            <p>4、禁止发布虚假职位信息：</p>
            <p style="padding-left: 24px;">如：招聘信息描述与实际工作不符、薪资虚假、冒用其他公司的名义招聘等</p>
            <p>5、禁止以任何名义在招聘过程中向求职者收费</p>
            <p>6、禁止未经合同明确书面许可，发布第三方招聘信息和代第三方招聘的行为。</p>
            <p>7、禁止为汇博网的竞争同行发布职位，并用此方法寻求与雇主联络业务。</p>
            <p>8、为了尽可能的规避求职者的风险，全面禁止以下行业及部分风险职位：</p>
            <p>（1）直销业、保险行业、其他诈骗行业、传销行业。</p>
            <p>（2）汇博网的同行业公司、非人力资源中介公司、收费中介公司、要求求职者自己出钱的投资理财公司。</p>
            <p>（3）娱乐会所：包含但不限于夜总会、浴场洗浴、按摩场所等可能会涉及色情、准色情的行业。</p>
            <p>（4）手工兼职：包含但不限于兼职打字员、工艺品制作、制作打火机或圆珠笔等职位或行业、淘宝信誉代刷、代购等虚拟兼职的职位或行业。</p>
            <p>（5）岗位职责描述虚假不实，故意以高薪、高收入等为诱饵吸引求职者或其他可能导致求职者误解的职位。</p>
            <p>（6）包含但不限于发布陪聊、视频陪聊、包房公主、包房少爷、私人游伴等职位。</p>
            <p>9、全职频道禁止发布兼职职位，兼职频道禁止发布全职职位</p>
        </div>

    </section>
</div>
{/include file="footer.html"/}
</body>
</html>