<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>汇博人才网_招聘中心_收到的简历</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>  
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="comback.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="combacklst.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="icons.css"/}" />

<script type="text/javascript" language="javascript" src="{/version file="jquery-1.8.3.min.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="dialog.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="mediaquery.js"/}"></script><!--响应式兼容-->
<script type="text/javascript" language="javascript" src="{/version file="ui_menudisplay.js"/}"></script><!--下拉菜单-->
<script type="text/javascript" language="javascript" src="{/version file="ui_inputFocus.js"/}"></script><!--输入框获取焦点-->
<script type="text/javascript" language="javascript" src="{/version file="ui_hovchange.js"/}"></script><!--指向改变class-->
<script type="text/javascript" language="javascript" src="{/version file="ui_dropdownList.js"/}"></script><!--下拉模拟-->
<script type="text/javascript" language="javascript" src="{/version file="ui_jobsort.js"/}"></script><!--职位类别-->
<script type="text/javascript" language="javascript" src="{/version file="ui_area.mulitiple.js"/}"></script><!--职位类别-->
<script type="text/javascript" language="javascript" src="{/version file="common.js"/}"></script><!--下拉模拟-->
<script type="text/javascript" language="javascript" src="{/version file="ui_validate.js"/}"></script><!--验证-->
<script type="text/javascript" language="javascript" src="{/version file="jquery.metadata.js"/}"></script><!--验证-->
<script type="text/javascript" language="javascript" src="{/version file="jquery.email.tip.js"/}"></script><!--email提示-->
<script type="text/javascript" language="javascript" src="{/version file="jquery.form.js"/}"></script><!--表单提交-->
<script type="text/javascript" language="javascript" src="{/version file="ui_tooltip.js"/}"></script><!--气泡插件-->
<script type="text/javascript" language="javascript" src="{/version file="ui_autocomplete.js"/}"></script><!--自动补全-->

</head>
<body id="body">
<style type="text/css">

</style>
<header id="header">
    <div class="hdCon">
        <div class="hdL">
            <span class="logo"><a href="#"></a><sub>标准版</sub></span>
            <nav>
            	<ul>
                <li class="navLst"><a href="#" class="cu navLnk">我的汇博</a></li>
                <li class="navLst"><a href="#" class="navLnk">网络招聘</a></li>
                <li class="navLst"><a href="#" class="navLnk">现场招聘</a></li>
                <li class="navLst"><a href="#" class="navLnk">账户</a></li>
                <li class="navLst">
                	<a href="#" class="navLnk" id="mesLnk">消息<em class="num">10</em></a>
                    <div class="mesPos" id="mesPos">
                        <div class="mesBox">
                            <div class="mesArr"></div>
                            <div class="mesTab" id="mesTab">
                                <div class="mesTabT">
                                    <a href="#" class="cu">提醒<em>(10)</em></a><a href="#">留言/咨询<em>(10)</em></a>
                                </div>
                                <div class="mesTabC">
                                    <div class="mesTabCon mesTip" id="mesTip">
                                        <ul style="display:none;">
                                        <li><p>您发布的职位<a href="#">招商顾问</a>职位信息不完善，可能会影响您的招聘效果，建议<a href="#">立即完善</a></p><a class="hbFntWes delIcon">&#xf00d;</a><div class="clear"></div></li>
                                        <li><p>2013年4月3日网站对原行业类别和职位类别做了部分调整，建议您即时核实贵单位所处行业、职位的职位类别、简历搜索器是否正确，若有引起任何的不便，敬请谅解。</p><a class="hbFntWes delIcon">&#xf00d;</a><div class="clear"></div></li>
                                        </ul>
                                        <div class="noData">暂无新提醒</div>
                                        <div class="mesBot"><a href="#">查看全部提醒</a></div>
                                    </div>
                                    <div class="mesTabCon mesWords none" id="mesTip">
                                        <ul>
                                        	<li>
                                            	<dl>
                                                <dt>&nbsp;</dt>
                                                <dd>
                                                	<p class="name"><a href="#">一闪一闪亮晶晶</a></p>
                                                    <p class="txt">昨天不知道是在上清寺那边，我们住的地方离那里太远了，不好意思哈，感谢你的关注</p>
                                                    <p class="oth"><b class="time">十年前&nbsp;20:20</b><a href="#" class="rep">回复</a></p>
                                                </dd>
                                                </dl>
                                                <div class="clear"></div>
                                            </li>
                                        </ul>
                                        <div class="noData" style="display:none;">暂无新提醒</div>
                                        <div class="mesBot"><a href="#">查看全部提醒</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
                <div class="clear"></div>
            </nav>
        </div>
        <div class="hdR" id="hdR">
            <ul>
            <li class="thelpInfo">
            	<a href="#" class="lnk"><b>帮助</b><i class="hbFntWes">&#xf0dd;</i></a>
                <div class="pos" style="display:none;">
                	<div class="boxCon">
                    	<div class="boxArr"></div>
                        <div class="boxMain">
                        	<div class="svs">
                            	<dl>
                                <dt></dt>
                                <dd>
                                	<p class="name">招聘顾问：张三疯</p>
                                    <p>400-887-2887转2013</p>
                                    <p><img border="0" src="http://im.bizapp.qq.com:8000/zx_qq.gif" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&amp;sid=4008872887&amp;eid=218808P8z8p8Q8p8Q8K8x&amp;o=www.cqjob.com&amp;q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" style="CURSOR: pointer"></p>
                                </dd>
                                </dl>
                                <dl>
                                <dt></dt>
                                <dd>
                                	<p class="name">招聘顾问：张三疯</p>
                                    <p>400-887-2887转2013</p>
                                    <p><img border="0" src="http://im.bizapp.qq.com:8000/zx_qq.gif" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&amp;sid=4008872887&amp;eid=218808P8z8p8Q8p8Q8K8x&amp;o=www.cqjob.com&amp;q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" style="CURSOR: pointer"></p>
                                </dd>
                                </dl>
                            </div>
                            <div class="svsBtn"><a href="#" class="btn3 btnsF12">服务评价</a><a href="#" class="btn3 btnsF12">意见反馈</a><a href="#" class="btn3 btnsF12">我要投诉</a></div>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="line">&nbsp;</li>
            <li class="tcomInfo">
            	<a href="#" class="lnk"><b>聚焦人才服务有限公司</b><i class="hbFntWes">&#xf0dd;</i></a>
                <div class="pos" style="display:none;">
                	<div class="boxCon">
                    	<div class="boxArr"></div>
                        <div class="boxMain">
                        	<ul>
                            <li><p class="jec"><span class="red">未开通会员</span></p><p class="link"><a href="#">立即开通</a></p></li>
                            <li><p class="jec"><i>个性化招聘主页</i><span class="red">未开通</span></p><p class="link"><a href="#">立即开通</a></p></li>
                            <li><p class="jec"><i>企业资料</i><span class="red">80%</span></p><p class="link"><a href="#">立即完善</a></p></li>
                            <li><p class="jec"><i>营业执照</i><span class="red">未认证</span></p><p class="link"><a href="#">立即认证</a></p></li>
                            <li><p class="jec"><i>账户余额</i><span class="red">-0.0005元</span></p><p class="link"><a href="#">充值</a>|<a href="#">明细</a></p></li>
                            </ul>
                            <div class="out"><a href="#" class="btn2 btnsF12"><i class="hbIconMoon">&#xe0b1;</i>退出登录</a></div>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</header>
<aside>
	<div class="sbN">
        <ul>
            <li><a href="#">职位管理</a></li>
            <li class="cu"><a href="#">收到的简历<em>（35）</em></a></li>
            <li><a href="#">下载的简历</a></li>
            <li><a href="#">我感兴趣的</a></li>
            <li><a href="#">推荐的简历<em>（35）</em></a></li>
            <li><a href="#">面试邀请</a></li>
            <li><a href="#">服务</a></li>
        </ul>
        <div class="tSch" id="tSch"><div class="tSchBox"><input type="text" class="text" id="tSchText" value="需要找什么人才，搜一下吧" /><a href="#" class="hbIconMoon">&#xe07f;</a></div></div>
    </div>
</aside>
<div class="content" id="content">
	<section class="noData" style="display:none;">
    	<p>您还未发布职位，求职者无法投递简历</p>
        <p><a href="#" class="btn1 btnsF14">立即发布职位</a></p>
    </section>

	<section class="recL" id="recL">
   	  <div class="lCon" id="lCon">
        	<div class="datTab" id="datTab">
            	<div class="btns"><a href="#" class="cu">未读<em>456</em></a><a href="#">已读<em>456</em></a><a href="#">已邀请<em>456</em></a><a href="#">已拒绝<em>456</em></a></div>
            </div>
            <div class="datFun" id="datFun">
            	<div class="funL">
                	<a href="#" class="btn3 btnsF12" id="layLnk"><i class="hbFntWes">&#xf0dd;</i>按应聘职位查看</a>
                    <div class="lay" id="lay">
                    	<div class="layHd">
                        	<div class="layHdL"><a href="#" class="lBtn cu">在招</a><a href="#" class="rBtn">暂停</a></div>
                            
                            <div class="clear"></div>
                        </div>
                        <div class="layBd" id="layLst">
                        	<ul>
                            <li><a href="#">WEB UI设计师</a><em>1500</em></li>
                            <li><a href="#">WEB UI设计师</a><em>1500</em></li>
                            <li><a href="#">运营专员</a><em>1500</em></li>
                            <li><a href="#">产品经理</a><em>1500</em></li>
                            <li class="oth"><a href="#">程序猿</a><em>0</em></li>
                            <li class="oth"><a href="#">射鸡湿</a><em>0</em></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="funR">
                	<a href="#" class="btn3 btnsF12" id="schBoxLnk">搜索</a>
                    <div class="schBox" id="schBox">
                    	<div class="form">
                        	<div class="formMod">
                            	<div class="l">姓名</div>
                                <div class="r"><span class="formText"><input type="text" class="text" /></span></div>
                                <div class="clear"></div>
                            </div>
                            <div class="formMod">
                            	<div class="l">编号</div>
                                <div class="r"><span class="formText"><input type="text" class="text" /></span></div>
                                <div class="clear"></div>
                            </div>
                            <div class="formBtn"><a href="#" class="btn1 btnsF12">搜索</a><a href="#" class="btn3 btnsF12">取消</a></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="datLst" id="datLst">
            	<div class="datLstNo" style="display:none;">
                	<p class="hbFntWes">&#xf016;</p>
                	<p>没有未读简历</p>
                    <p>您可以<a href="#">查看全部简历</a></p>
                </div>
            	<ul class="hbTip">
                <li>
                	<div class="l"><p class="pic"><i class="hbFntWes">&#xf005;</i><img src="/img/p/pho.jpg" /></p><p class="chkBoxBlo" title="TA已删除简历，无法选择" data-toggle="tooltip" data-placement="right"><input name="resumeID" value="135942014" type="checkbox" class="chkBox" /></p></div>
                    <div class="c">
                    	<p><a href="#" class="nam" id="rem1">我勒个去</a><i>20岁/沙坪坝区/应届毕业生</i></p>
                        <p>应聘：<a href="#">运营总监</a></p>
                    	<p>相关经验：<i>这个职位不可选择checkbox哦</i></p>
                    </div>
                    <div class="r">
                        <p class="time">08-10</p>
                        <p class="del"><a href="#" class="hbIconMoon del abs" data-toggle="tooltip" data-placement="left" title="删除">&#xe0fd;</a></p>
                        <p class="remLnk"><a href="#" class="hbIconMoon" data-toggle="tooltip" data-placement="left" title="我什么都没说啊，别找我啊！">&#xe0c4;</a></p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="l"><p class="pic"><i class="hbFntWes">&#xf005;</i><img src="/img/p/pho.jpg" /></p><p class="chkBoxBlo" title="TA已删除简历，无法选择" data-toggle="tooltip" data-placement="right"><input name="resumeID" value="135942093" type="checkbox" class="chkBox" /></p></div>
                    <div class="c">
                    	<p><a href="#" class="nam" id="rem1">我勒个去</a><i>20岁/沙坪坝区/应届毕业生</i></p>
                        <p>应聘：<a href="#">运营总监</a></p>
                    	<p>相关经验：<i>这个职位不可选择checkbox哦</i></p>
                    </div>
                    <div class="r">
                        <p class="time">08-10</p>
                        <p class="del"><a href="#" class="hbIconMoon del abs" data-toggle="tooltip" data-placement="left" title="删除">&#xe0fd;</a></p>
                        <p class="remLnk"><a href="#" class="hbIconMoon" data-toggle="tooltip" data-placement="left" title="我什么都没说啊，别找我啊！">&#xe0c4;</a></p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="l"><p class="pic"><i class="hbFntWes">&#xf005;</i><img src="/img/p/pho.jpg" /></p><p class="chkBoxBlo" title="TA已删除简历，无法选择" data-toggle="tooltip" data-placement="right"><input name="resumeID" value="135942015" type="checkbox" class="chkBox" /></p></div>
                    <div class="c">
                    	<p><a href="#" class="nam" id="rem1">我勒个去</a><i>20岁/沙坪坝区/应届毕业生</i></p>
                        <p>应聘：<a href="#">运营总监</a></p>
                    	<p>相关经验：<i>这个职位不可选择checkbox哦</i></p>
                    </div>
                    <div class="r">
                        <p class="time">08-10</p>
                        <p class="del"><a href="#" class="hbIconMoon del abs" data-toggle="tooltip" data-placement="left" title="删除">&#xe0fd;</a></p>
                        <p class="remLnk"><a href="#" class="hbIconMoon" data-toggle="tooltip" data-placement="left" title="我什么都没说啊，别找我啊！">&#xe0c4;</a></p>
                    </div>
                    <div class="clear"></div>
                </li>
                </ul>
            </div>
            <div class="datBot" id="datBot">
            	<div class="l">
                	<div class="batch">
                    	<a href="javascript:void(0);" class="btn1 btnsF14 batchLnk" id="batchLnk"><i class="hbFntWes">&#xf067;</i>批量操作</a>
                        <div class="batchBox" id="batchBox">
                            <ul>
                            <li><a href="javascript:void(0);" id="batchInvLnk">邀请面试</a></li>
                            <li><a href="#" id="batchDelLnk">删除</a></li>
                            <li><a href="#">婉言拒绝</a></li>
                            <li><a href="#">转发到邮箱</a></li>
                            <li class="downComp" id="downComp">
                                <a href="#">保存到电脑<i class="hbFntWes">&#xf105;</i></a>
                                <div class="downBox" id="downBox">
                                	<ul>
                                    <li><a href="#">保存为Word文件</a></li>
                                    <li><a href="#">保存为Html文件</a></li>
                                    </ul>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="r">
                	<div class="datPage" id="page">
                    	<div class="pageLnk"><a href="#" class="prePage">上一页</a></div>
                        <div class="pageLnk pageSel">
                        	<a href="#" class="selPage">第20页<i class="hbFntWes">&#xf0dd;</i></a>
                        	<div class="pagePos">
                            	<div class="pagePosHd"><a href="#" class="hbFntWes">&#xf00d;</a></div>
                            	<div class="arrL"><a href="#"><i class="hbFntWes">&#xf053;</i></a></div>
                                <div class="lst">
                                	<div class="lstMove" style="width:352px;left:0;">
                                        <ul>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li class="cu"><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#">11</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><a href="#">13</a></li>
                                        <li><a href="#">14</a></li>
                                        <li><a href="#">15</a></li>
                                        <li><a href="#">16</a></li>
                                        <li><a href="#">17</a></li>
                                        <li><a href="#">18</a></li>
                                        <li><a href="#">19</a></li>
                                        <li><a href="#">20</a></li>
                                        </ul>
                                        <ul>
                                        <li><a href="#">21</a></li>
                                        <li><a href="#">22</a></li>
                                        <li><a href="#">23</a></li>
                                        <li><a href="#">24</a></li>
                                        <li><a href="#">25</a></li>
                                        <li><a href="#">26</a></li>
                                        <li class="cu"><a href="#">27</a></li>
                                        <li><a href="#">28</a></li>
                                        <li><a href="#">29</a></li>
                                        <li><a href="#">30</a></li>
                                        <li><a href="#">31</a></li>
                                        <li><a href="#">32</a></li>
                                        <li><a href="#">33</a></li>
                                        <li><a href="#">34</a></li>
                                        <li><a href="#">35</a></li>
                                        <li><a href="#">36</a></li>
                                        <li><a href="#">37</a></li>
                                        <li><a href="#">38</a></li>
                                        <li><a href="#">39</a></li>
                                        <li><a href="#">40</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="arrR"><a href="#"><i class="hbFntWes">&#xf054;</i></a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="pageLnk"><a href="#" class="nextPage">下一页</a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
      </div>
    </section>
    <section class="recR" id="recR">
    	<div class="datPer" id="datPer">
        	<div class="datPerC">
                <div class="l">
                    <span class="lLnk"><a href="#"><i class="hbFntWes">&#xf02f;</i>打印</a></span>
                    <span class="lLnk">
                        <a href="#" id="downCmtLnk"><i class="hbFntWes">&#xf0c7;</i>保存到电脑</a>
                        <span class="downCmt" id="downCmt">
                            <a href="#">保存为Word文件</a>
                            <a href="#">保存为Html文件</a>
                        </span>
                    </span>
                    <span class="lLnk"><a href="javascript:void(0);" id="relLnk"><i class="hbFntWes">&#xf003;</i>转发</a></span>
                    <span class="lLnk hbTip"><a href="javascript:void(0);" id="remLnk" title="这孩子太调皮了" data-toggle="tooltip" data-placement="bottom"><i class="hbFntWes">&#xf0c5;</i>备注（15）</a></span>
                </div>
                <div class="r">
                	
                    <span class="rLnk">
                        <a href="#" class="btn2 btnsF14 lnk" id="downDelLnk">婉拒/删除</a>
                        <span class="downDel">
                            <a href="#" id="refuse">婉言拒绝</a>
                            <a href="#" id="delRem">删除简历</a>
                        </span>
                    </span>
                    <span class="rLnk"><a href="javascript:void(0);" class="btn1 btnsF14 lnk" id="invLnk">邀请面试</a></span>
                    <span class="invSta red">已婉拒</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="datLoad" style="display:none;">
        	<p class="load"></p>
            <p>数据加载中...</p>
        </div>
        <div class="datErr" style="display:none;">
        	<p>咦！网络似乎不给力啊！<a href="#">手动刷新</a>试试</p>
        </div>
        <div class="othDel" style="display:none;">
        	<p>王若愚主动放弃该职位，无法查看TA的简历</p>
            <p><a href="#" class="btn1 btnsF12">将TA从列表中删除</a></p>
        </div>
    	<div class="dat" id="remData"></div>
    </section>

  <div class="clear"></div>
</div>
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script>
menuDis('#hdR','li','.box','hov');

var $win = $(window);
var $dom = $(document);
var $body =$('#body');
var $winWh = $win.width();
var $winHt = $win.height();
var $tSch = $('#tSch');
var $datLst = $('#datLst');
var $datTab = $('#datTab');
var $datFun = $('#datFun');
var $datBot = $('#datBot');
var $header = $('header');
var $aside = $('aside');
var $page = $('#page');
var $left = $('#recL');
var $right = $('#recR');
var $datPer = $('#datPer');
var $downCmtLnk = $('#downCmtLnk');
var $layLnk = $('#layLnk');
var $lay = $('#lay');
var $schBoxLnk = $('#schBoxLnk');
var $schBox = $('#schBox');

$('.hbTip').tooltip({
 selector: "a[data-toggle=tooltip],p[data-toggle=tooltip]",html:true
});

$('#relLnk').click(function() {
	$.showModal('/company/ui/relBox.html?v=aaaa',{title:'转发到邮箱'});
}); 

$('#remLnk').click(function() {
	$.showModal('/company/ui/remBox.html?v=aaaa',{title:'备注'});
}); 
$('#refuse').click(function() {
	$.showModal('/company/ui/remDelBox.html?v=aaaa',{title:'婉言拒绝'});
	$(this).parents('.downDel').css({'display':'none'});
}); 
$('#delRem').click(function() {
	$.showModal('/company/ui/remDelBox.html?v=aaaa',{title:'删除简历'});
	$(this).parents('.downDel').css({'display':'none'});
});

$('#batchDelLnk').click(function() {
	$.showModal('/company/ui/remDelBox.html?v=aaaa',{title:'批量删除'});
	$(this).parents('.downDel').css({'display':'none'});
}); 

$.ajax({url:'/company/ui/resume1.html',dataType:"html",success: function(remResult){
	$('#remData').html(remResult);
	$right.css({'height':'auto'});
}});

$('#rem1').click(function(){
	$.ajax({url:'/company/ui/resume1.html',dataType:"html",success: function(remResult){
		$('#remData').html(remResult);
		$right.css({'height':'auto'});
	}});
});

$('#rem2').click(function(){
	$.ajax({url:'/company/ui/resume2.html',dataType:"html",success: function(remResult){
		$('#remData').html(remResult);
		$right.css({'height':'auto'});
	}});
});

$('#rem3').click(function(){
	$.ajax({url:'/company/ui/resume3.html',dataType:"html",success: function(remResult){
		$('#remData').html(remResult);
		$right.css({'height':'auto'});
	}});
});

$('#rem4').click(function(){
	$.ajax({url:'/company/ui/resume1.html',dataType:"html",success: function(remResult){
		$('#remData').html(remResult);
		$right.css({'height':'auto'});
	}});
});

$(document).ready(function(e) {
	$.focusblur("#tSchText");//输入框获取及失去焦点
	$('#tSchText').bind('focus',function(){
		$(this).animate({'width':200});
		$tSch.css({'background':'#fffdef','border':'1px solid #e8dd9e'})
	}).bind('blur',function(){
		$(this).animate({'width':150});
		$tSch.css({'background':'#fff','border':'1px solid #dadada'})
	});
	
	var $winWh = $win.width();
	var $winHt = $win.height();
	if($winWh<=1260){
		$body.addClass('w1260');
	}if($winWh>=1261&&$winWh<=1314){
		$body.addClass('w1366');
	}if($winWh>=1315){
		$body.addClass('w1366gt');
	};
	
	var $datLstDefH = $datLst.find('ul').height();//列表实际高度
	if($page.is(':hidden')){
		var $datLstHeight = ($win.height())-($header.height())-($aside.height()+15)-($datTab.height()+1)-($datBot.height()+1);//列表展示无翻页时的高度
		if($datLstDefH > $datLstHeight){
			$datLst.css({'overflow-y':'scroll'});
		}else{
			$datLst.css({'overflow-y':'inherit'});
		};
		$datLst.height($datLstHeight);
	}else{
		$datFun.css({'height':'50px','font-size':'12px','line-height':'1','display':'block'});
		var $datLstHeight = ($win.height())-($header.height())-($aside.height()+15)-($datTab.height()+1)-($datFun.height()+1)-($datBot.height()+1);//列表展示时的高度总高度
		if($datLstDefH > $datLstHeight){
			$datLst.css({'overflow-y':'scroll'});
			
		}else{
			$datLst.css({'overflow-y':'inherit'});
		};
		$datLst.height($datLstHeight);
	};//判断翻页是否隐藏，如果隐藏，则不出现datFun的操作栏，else则相反



	if($right.height()<($winHt-($header.height()+$aside.height()+15))){
		$right.height($winHt-($header.height()+$aside.height()+15));
	}//初始化设置右侧高度
	
	if ($(document).scrollTop() >= $header.height())
		{
			$winWh = $win.width();
			var $conWh = $('#content').outerWidth();//获取内容区域宽度
			$left.css({'position':'fixed','top':$aside.height(),'left':($winWh-$conWh)/2});
			$aside.css({'position':'fixed','top':0,'left':0});
			$datPer.css({'position':'fixed','top':$aside.height(),'left':(($winWh-$conWh)/2)+($left.width()+1)});
		}else{
			$left.css({'position':'static'});
			$aside.css({'position':'static'});
			$datPer.css({'position':'static'});
	}//左侧导航初始化坐标
	
	var $conWh = $('#content').width();//获取内容区域宽度


	$(window).scroll(function(){
		if ($(document).scrollTop() >= $header.height())
		{
			$winWh = $win.width();
			var $conWh = $('#content').outerWidth();//获取内容区域宽度
			var datLstH = $datLst.height();
			$left.css({'position':'fixed','top':$aside.height(),'left':($winWh-$conWh)/2});
			$aside.css({'position':'fixed','top':0,'left':0});
			$datPer.css({'position':'fixed','top':$aside.height(),'left':(($winWh-$conWh)/2)+($left.width()+1)});
			if ($.browser.msie && ($.browser.version == "6.0") && !$.support.style){
				$(window).scroll(function(){
					var vtop = $(document).scrollTop();
					var leftTop = eval(vtop) + "px";
					var leftTop2 = (eval(vtop)+$aside.height())+"px";
					$aside.attr("style", "_position:absolute;_top:" + leftTop+";left:0");
					$left.attr("style", "_position:absolute;_top:" + leftTop2);
					$datPer.attr("style", "_position:absolute;_top:" + leftTop2);
				});
			}
		}else{
			$left.css({'position':'static'});
			$aside.css({'position':'static'});
			$datPer.css({'position':'static'});
			if ($.browser.msie && ($.browser.version == "6.0") && !$.support.style){
				$(window).scroll(function(){
					var vtop = $(document).scrollTop();
					var leftTop = eval(vtop) + "px";
					$aside.attr("style", "_position:static;");
					$left.attr("style", "_position:static;" );
					$datPer.attr("style", "_position:static;");
				});
			}
		}
	});//滚动条滚动时触发左侧导航位子变更
	
	$datLst.find('li').hover(function(){
		$(this).addClass('hov');
	},function(){
		$(this).removeClass('hov');
	})
	
	$downCmtLnk.click(function(){
		$('#downCmt').css({'display':'block'});
	});
	
	$('#layLst').find('li').hover(function(){
		$(this).addClass('hov');
	},function(){
		$(this).removeClass('hov');
	});
	
	$('#downDelLnk').click(function(){
		$(this).siblings('.downDel').css({'display':'block'});
	});
	
	$('#batchLnk').click(function(){
		$('#batchBox').css({'display':'block'}).find('#downComp').find('a').bind('mouseover',function(){
			$('#downBox').css({'display':'block'});
			$('#downComp').bind('mouseout',function(){
				$('#downBox').css({'display':'none'});
			});
		});
	});
	
	var $layLnk = $('#layLnk');
	var $lay = $('#lay');
	var $schBoxLnk = $('#schBoxLnk');
	var $schBox = $('#schBox');
	$layLnk.click(function(){
		$lay.css({'display':'block'});
	});
	$schBoxLnk.click(function(){
		$schBox.css({'display':'block'});
	});
	
	
});

$('#invLnk').click(function() {
	//var resumeId=135942014;
	var resumeId=3;
	$.showModal('{/get_url rule="/invite/invitesingleshow" data="applyID='+resumeId+'&v='+Math.random()+'"/}',{title:'邀请面试'});
});

$('#batchInvLnk').click(function() {
	var checkboxs = $('#datLst').find(':input.chkBox:checked');
	var resumeids = new Array();
	if(checkboxs.length > 0){
		checkboxs.each(function(){
			resumeids.push($(this).val());
    	});
	}else{
		$.anchorMsg('请选择需要邀请的简历', { icon: 'warning' }); return;
	}
	$.showModal('{/get_url rule="/invite/invitemultishow" data="resumeids=' + resumeids.join(',') + '&v='+Math.random()+'"/}',{title:'批量邀请面试'});
	$('#batchBox').css({'display':'none'});
});
</script>
</body>
</html>
