<style>	
.new-sign-pop-dialog{text-align: left}
.step_box_ajax{margin:25px;background: url({/$siteurl.style/}/img/c/new_resume/step_bg.jpg) left top repeat-y}
.step_box_ajax .step_num{display: inline-block;width:30px;height:30px;background: url({/$siteurl.style/}/img/c/new_resume/step_num.jpg) no-repeat;overflow: hidden;font-size:16px;color:#fff;font-weight:bold;text-align: center;line-height: 30px;position: absolute;left:0px;top:0px}
.step_box_ajax li{position: relative;color:#666;font-size:14px;padding-left: 50px;margin-bottom: 30px;padding-top: 4px}
</style>
<!--快速提升简历回复率弹窗-》简历管理-》待处理简历-->
<p style="margin-left:30px"><font color="red">按照提示及时处理简历可以提升回复率和回复时长，投递简历更多、招聘效果更好哦~</font></p>
<div class="step_box_ajax">
	<ul>
		<li><i class="step_num">01</i>第一步：选出合适的简历发送面试邀请，暂时不能确定的简历标记为待定</li>
		<li><i class="step_num">02</i>第二步：一键回绝剩余简历<p style="margin-top: 10px"><img src="{/$siteurl.style/}/img/c/new_resume/step_two.jpg" /></p></li>
		<li><i class="step_num">03</i>第三步：在待定（未回复）的简历中挑选合适简历发送面试邀请</li>
		<li><i class="step_num">04</i>第四步：将待定（未回复）的简历中不合适的简历标记为不适合</li>
	</ul>
</div>

