<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{/$title/}</title>
<script type="text/javascript" src="//assets.cqjob.com/Js/dragonVerSummary.js?v=20121130"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=1.2&services=true"></script>
<style type="text/css">
html {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	padding: 10px;
	font-size: 14px;
	background: #fff;
	font-family: '微软雅黑', Verdana, Arial, Helvetica, sans-serif
}

ul {
	list-style: none;
}
</style>
</head>
<body>
<form action="DoMofifyName" method="get">
	<ul>
	<li>当前用户名:{/$user_id/} </li>
	<li>登录密码:<input type="text" name="txtPassword" /></li>
	<li>新用户名:<input type="text" name="txtUserId" /></li>
	<li><input type="submit" name="subSave" class="submit" value="保存"></li>
	</ul>
</form>
</body>
</html>