<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>汇博网_招聘中心_职位列表</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>  
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='comback.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='icons.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='v2-widge.css'/}" />

<script type="text/javascript" language="javascript" src="{version file='jquery-1.8.3.min.js'}"></script>
<style type="text/css">
.part{}
.part .hd{border-bottom:1px solid #dadada;height:40px;}
.part .hd a{height:38px;line-height:38px;font-size:14px;margin:0 10px;padding:0 10px;display:inline-block;float:left;display:inline;border:1px solid #dadada;border-top:2px solid #dadada;border-bottom:0;color:#666;}
.part .hd a:hover{background:#f8f8f8;}
.part .hd a.cu{font-weight:bold;border-top:2px solid #2b90d8;border-bottom:1px solid #fff;}
.part .hd a.cu:hover{background:#fff;}


.part .bd{padding:20px;zoom:1;}
.bd .txt{margin:0 0 20px;}
.bd .txt p.tit{font-weight:bold;}

.bd .ser{width:680px;margin:0 auto;height:170px;}
.bd .ser dl{float:left;display:inline;width:340px;}
.bd .ser dl dt{float:left;display:inline;width:130px;}
.bd .ser dl dd{float:left;display:inline;width:200px;margin:6px 0 0;}
.bd .ser dl dd p{margin-bottom:5px;}
.bd .ser dl dd p.serType{font-weight:bold;}
</style>
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = {
    HOST: '{/$siteurl.style/}',
    COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
</head>
<body id="body">


{/include file="nav.html" parent="账户" cur="账户管理"/}
<div class="content" id="content">
    <section class="section" style="overflow:hidden;">
        <div class="postSchListBg">
            <div class="postSchList">
                <div class="zList">
                    <a href="{/get_url rule='/account/'/}"><span>我的账户</span></a>
                    <a href="{/get_url rule='/company/modify'/}" ><span>企业资料</span></a>
                    <a href="{/get_url rule='/environment'/}" ><span>企业环境</span></a>
                    <a href="{/get_url rule='/licencevalidate'/}"  class="cut"><span>企业认证</span></a>
                    <a class="last" href="{/get_url rule='/pay'/}"><span>账户充值</span></a>
                </div>
            </div>
        </div>
    	<hgroup>
        	<div class="part">
            	<div class="hd">
                	<a href="#">有营业执照</a><a href="#" class="cu">没有营业执照如何认证?</a><div class="clear"></div>
                </div>
                <div class="bd" id="infoShow" style="display:none;">
                    <div class="txt">
                        <p class="tit">联系您的招聘顾问以获取帮助：</p>
                        <p>如您拥有“税务证/机构代码证/核名通知书/行业许可证（如：办学许可证）”，请事先准备好相关扫描件。</p>
                    </div>
                    <div class="ser">
                        <dl>
                        <dt><img width="120" height="150" src="{/$customerService['photo']/}" /></dt>
                        <dd>
                            <p class="serType">客服顾问</p>
                            <!--<p>姓名：{/$customerService['name']/}</p>-->
                            <p>热线：{/$customerService["phone400"]/}</p>
                            <p>电话：{/$customerService['phone']/}</p>
                            <p><!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="//wpa.b.qq.com/cgi/wpa.php?key=XzkzODA0MDQyNl8xMjgzMTBfNDAwODg3Mjg4N18"></script>
<!-- WPA Button End --></p>
                        </dd>
                        </dl>
                        {/if $hasHRManager/}
                        <dl>
                        <dt><img width="120" height="150" src="{/$hrManager['head_photo_url']/}" /></dt>
                        <dd>
                            <p class="serType">招聘顾问</p>
                            <!--<p>姓名：{/$hrManager["user_name"]/}</p>-->
                            <p>热线：{/$customerService["phone400"]/}</p>
                            <p>电话：{/$hrManager["tel"]/}</p>
                            <p><!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="//wpa.b.qq.com/cgi/wpa.php?key=XzkzODA0MDQyNl8xMjgzMTBfNDAwODg3Mjg4N18"></script>
<!-- WPA Button End --></p>
                        </dd>
                        </dl>
                        {//if/}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </hgroup>
    </section>
</div>
{/include file="footer.html"/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script>
menuDis('#hdR','li','.box','hov');
hovChange('.dropLstCon','li','hov');
var $tSch = $('#tSch');

$('#upLicLnk').click(function() {
	$.showModal('/company/ui/upLic.html?v=aaaa',{title:'认证资料确认'});
}); 

$(document).ready(function(e) {
    $.focusblur("#tSchText");
	$.focusColor('input.text');
	$.focusblur('#comN');



	$('#tSchText').bind('focus',function(){
		$(this).animate({'width':200});
		$tSch.css({'background':'#fffdef','border':'1px solid #e8dd9e'})
	}).bind('blur',function(){
		$(this).animate({'width':150});
		$tSch.css({'background':'#fff','border':'1px solid #dadada'})
	});
	
});

</script>
{/include file="chat/chat.html"/}
</body>
</html>
