<style>
    /*=====弹窗样式====*/
  .iconStrawPop{width:520px; margin:10px auto; overflow:hidden; background:#fff; text-align:left; padding:5px 20px;}
  .iconStxt{ overflow:hidden; color:#323232; line-height:20px;}
  .iconStxt b{ font-weight:normal; color:#d73937;}
  .iconStxt p{ padding:20px 0 35px 0;}
  .icoSbtn label{ color:#3d86bd; font-family:"宋体"; font-size:12px; display:block; float:left;}
  .icoSbtn label input{ display:inline-block; vertical-align:-3px; margin-right:5px;}
  .icoSbtn a,.icoSbtn2 a{ display:block; float:right; padding:0 44px; height:30px; line-height:30px; font-size:12px; font-family:"宋体"; color:#fff; background:#66bce4; border-radius:4px;}
  .icoSbtn a:hover,.icoSbtn2 a:hover{  background:#51add8;}
  .iconStrawPop2{width:355px; overflow:hidden; background:#fff; margin:10px auto;padding:30px 20px;}
  .iconStxt2{ overflow:hidden;}
  .iconStxt2 i{ color:#ff9c00; display:block; float:left; font-size:50px; font-weight:normal;}
  .iconStxt2 span{ display:block; float:left; color:#d73937; font-size:16px; padding-left:10px;}
  .iconStxt2 span b{ display:block; font-size:14px; color:#444444; font-weight:normal; text-align:left; padding-top:8px;}
  .icoSbtn2{ overflow:hidden; width:100%; padding:30px 0 0 0;}
  .icoSbtn2 a{ float:left;}
  .icoSbtn2 a.gray{ background:#f0f0f0; color:#898989; float:right;}
  .icoSbtn2 a.gray:hover{ background:#d7d2d2}
   .icoSbtn a.gray{ background:#f0f0f0; color:#898989; float:right;}
</style>
<div class="iconStrawPop">      
    <div class="iconStxt">
    	1.对职位做出承诺2个（5个）工作日回复求职者投递来的简历，即可获得对应奖励:
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1） 承诺职位有专属标识<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;2） 在求职者搜索职位时，提供承诺职位过滤
        </p>
    </div>
    <div class="iconStxt">
    	2.一旦对职位选择做出承诺（包括职位停招），请按时回复求职者简历，到期未回复简历，系统将会对该功能使用进行以下限制:
	<p> &nbsp;&nbsp;&nbsp;&nbsp;1） 到期未回复简历，将被系统自动回绝（无法再进行查看）<br />
           &nbsp;&nbsp;&nbsp;&nbsp;2） 取消该职位所获得的奖励<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;3） 限制20天内将不能使用简历承诺功能（多次到期未回限制时间加重）
        </p>
    </div>
     <div class="iconStxt">
    <p>
            3.投递来的简历，需进行“不合适”、“发起面试邀请”、“已电话邀请面试”，才算作回复，请记得按时进行回复操作。
    </p>
    </div>
       <div class="iconStxt">
    	4.若当天16:00前收到的简历，回复时间是从当天开始计算回复时间，若当天16：00以后收到简历，第二天开始计算回复时间，按2个工作收到简历回复为例，9月1日16：00前收到简历回复截至时间为9月2日 23：59，16：00点后收到简历回复截至时间9月3日23：59。
    </div>
    
</div>