<style>
    .right_section .rewardList .cur{background-color: #66BCE4;color:#fff;}
    .setWelfare {overflow: auto}
    .left_section {width: 100px;text-align: center;height: 320px;color: #444444;font-size: 14px;font-weight: 400;float: left;border-right: 1px dashed #eee;border-bottom: 1px dashed #eee;}
    .left_section a {margin-top: 20px; cursor: default;display: block;color: #444;}
    .left_section .leftCur { color: #66BCE4; }
    .right_section input { box-sizing: border-box }
    .right_section {float: left;padding-left: 20px;width: 552px;border-bottom: 1px dashed #eee;font-size: 14px; }
    .right_section ul {height: 330px;overflow-y: scroll;margin-bottom: 20px;}
    .right_section .title {width: 56px;height: 12px;font-size: 14px;font-family: Microsoft YaHei;font-weight: bold;color: rgba(68,68,68,1);line-height: 44px;}
    .right_section .rewardList a {padding: 0 10px;height: 30px;margin: 0 10px 15px 0;background:rgba(243,243,243,1);border-radius: 2px;display: inline-block;font-size: 14px;font-family: Microsoft YaHei;font-weight: 400;color: #444444;line-height: 30px;text-align: center;cursor: default; position: relative;}
	.right_section .rewardList a i{ display: none; position: absolute; top: -7px; right: -5px;width:14px; height: 14px; background: url({/$siteurl.style/}/img/company/ratep_icon.png) -164px -5px no-repeat;}
	.right_section .rewardList a:hover i{ display: block;}
    #rewardFooter {border-top: none;padding: 15px 10px;}
    #btnReardSave {width: 110px;height:36px; background:rgba(102,188,228,1);border-radius:4px;line-height: 36px;text-align: center;font-size: 16px;}
    #btnRwardCancel {width:110px;height:36px;background:rgba(243,243,243,1);border-radius:4px;line-height: 36px;text-align: center;font-size: 16px;}
    #addOtherReward {width:66px;height:30px;background:rgba(102,188,228,1);border-radius:4px;font-size:14px;font-family:Microsoft YaHei;font-weight:400;color:#fff;line-height:30px;text-align: center;}
</style>
<script type="text/javascript">
    var selectedReward = {};
</script>
<form action="/reward/rewardDo/" method="post" id="formreward" onsubmit='return false'>
    <div style="width:673px;" id='reward' class="dialogCont setWelfare">
        <div class="left_section">
            <ul>
                {/foreach $all_reward_data as $key => $val/}
                <a href="#{/$val['flag']/}">{/$val['category_name']/}</a>
                {//foreach/}
            </ul>
        </div>
        <div class="right_section">
            <ul>
                {/foreach $all_reward_data as $key => $val/}
                <li id="{/$val['flag']/}">
                    <span class="title">{/$val['category_name']/}</span>
                    <div class="rewardList">
                        {/foreach $val['reward_data'] as $k => $v/}
                        <a href="javascript:void(0);" {/if in_array($v['reward_id'],$company_default_rewards)/}class="cur"{//if/}date-rewardid={/$v['reward_id']/} data-type='default'>{/$v['reward_name']/}</a>
                        {//foreach/}
                        {/if $val['flag'] == 'common'/}
                        {/foreach $custom_reward_list as $k => $v/}
                        <a href="javascript:void(0);" data-type='other' date-rewardid=0 {/if in_array($v['reward_name'],$company_other_rewards)/}class='cur'{//if/}>{/$v['reward_name']/}<i data-customid="{/$v['custom_reward_id']/}"></i></a>
                        {//foreach/}
                        {//if/}
                        <script type="text/javascript">
                            selectedReward["{/$reward['reward_name']/}"] = true;
                        </script>
                    </div>
                </li>
                {//foreach/}
            </ul>
            <input name='other_reward' type="text" placeholder="自定义，每个词最多6个字" style="padding: 5px;margin: 0 15px 10px 0px;height: 36px;width: 334px;border: 1px solid rgba(241,241,241,1);border-radius: 4px;" />
            <a href="javascript:void(0);" class="btn1 btnsF12" id='addOtherReward'>添加</a>
        </div>
    </div>
    <div class="dialogFooter" id="rewardFooter">
        <a id="btnRwardCancel" href="javascript:void(0);" class="btn3 btnsF12">取消</a><a id="btnReardSave" href="javascript:void(0);" class="btn1 btnsF12">确定</a>
    </div>
</form>
<script>
    var cacheDefaultReward = '';
    var cacheDefaultName   = '';
    var cacheOtherReward   = '';
    var count              = parseInt({/$count/});
    var is_perfect_rewards = "{/$is_perfect_rewards/}";
    var commonHeight = 0;
    var liList = $('.right_section').find('li');
    var lifeHeight = $(liList[0]).height();
    var salaryHeight = $(liList[0]).height() + $(liList[1]).height();
    var workHeight = $(liList[0]).height() + $(liList[1]).height() + $(liList[2]).height();
    var insuranceHeight = $(liList[0]).height() + $(liList[1]).height() + $(liList[2]).height() + $(liList[3]).height();
    var leftTitle = $('.left_section').find('a');
    $(leftTitle[0]).addClass('leftCur');
    var reward = {
		initialize : function() {
            //情况缓存数据
            cacheDefaultReward ='';
            cacheOtherReward = '';  
            cacheDefaultName = '';
            var rewardLabels = $("#reward").children('a');
            $("#addOtherReward").click(function() {
                if (parseInt(count) >= 12) {
                    $.anchorMsg("最多只能选择12项福利");
                    return false;
                }

                var v = $("input[name='other_reward']").val();
                var aList = $('.right_section li').find('a');
                for(var i=0;i<aList.length;i++) {
                    if($(aList[i]).text() == v) {
                        $.anchorMsg("已添加该福利",{icon:'fail'});
                        return false;
                    }
                }

                if(v==''){
                    $.anchorMsg("添加福利不能为空",{icon:'fail'});
                    return false;
                }
                if(v.length>6){
                    $.anchorMsg("添加福利不能超过6个字符",{icon:'fail'});
                    return false;
                }

                if(selectedReward[v]){
                    $.anchorMsg("添加福利不能重复");
                    return false;
                }

                $.post("/reward/AddCompanyCustomReward",{reward_name:v},function (e) {
                    if(e.status){
                        var other_reward_html = "<a href='javascript:;' date-rewardid=0  data-type='other' class='cur'>"+v+"<i data-customid='"+ e.custom_reward_id+"'></i></a>";
                        $(liList[0]).find('.rewardList').append(other_reward_html);
                        $("input[name='other_reward']").val('');
                        $("input[name='other_reward']").attr("placeholder","自定义，每个词最多6个字");
                        $.anchorMsg("添加成功",{icon:'success'});
                        selectedReward[v] = true;
                    }else{
                        $.anchorMsg(e.msg, {icon: 'fail'});
                        return false;
                    }
                },'json');
            });

            $(".right_section").on("click", "a", function(event) {
				event.stopPropagation();
                var c = $(this).attr('class');
                if(c == 'cur'){
                    count = parseInt(count)-1;
                    if(count <=0){count =0;}
                    $(this).removeClass('cur');
                }else{
                    if(parseInt(count)>=12){
                        $.anchorMsg("最多只能选择12项福利",{icon:'fail'});
                        return false;
                    }
                    count = parseInt(count)+1;
                    selectedReward[value] = true;
                    $(this).addClass('cur');
                }
            });
			
			// 删除自定义福利
			$('.right_section').on('click','a i', function(event){
				event.stopPropagation();
				var _this = $(this);
				$.confirm("是否确认删除该福利？","删除福利", function(){
                    var custom_id = parseInt(_this.attr('data-customid'));
                    if(custom_id > 0 ){
                        $.post("/reward/DelCompanyCustomReward",{custom_reward_id:custom_id},function (e) {
                            if(e.status){
                                $.anchorMsg("删除成功", {icon: 'success'});
                                _this.parent().remove();
                            }else{
                                $.anchorMsg(e.msg, {icon: 'fail'});
                            }
                        },'json');
                    }else {
                        $.anchorMsg("删除成功", {icon: 'success'});
                        _this.parent().remove();
                    }
				});
			});
			
            function scrollTarget(index) {
                for (var i = 0;i<leftTitle.length;i++) {
                    if(i == index) {
                        $(leftTitle[i]).addClass('leftCur');
                    }else {
                        $(leftTitle[i]).removeClass('leftCur');
                    }
                }
            };
            $(".left_section").find('a').on('click',function (e) {
                e = e || window.e;
                e.preventDefault();
                var target = $(this).index();
                scrollTarget(target);
                switch (target) {
                    case 0:
                        $('.right_section ul').scrollTop(commonHeight);
                        break;
                    case 1:
                        $('.right_section ul').scrollTop(lifeHeight);
                        break;
                    case 2:
                        $('.right_section ul').scrollTop(salaryHeight);
                        break;
                    case 3:
                        $('.right_section ul').scrollTop(workHeight);
                        break;
                    case 4:
                        $('.right_section ul').scrollTop(insuranceHeight);
                        break;
                }
                //将页面滚动到对应的位置
            });
            $('.right_section ul').on('scroll',function () {
                var rightHeight = $(this).height();
                var ulHeight = $(this).find('ul').height();
                var rightScroll = $(this).scrollTop();
                if(rightScroll>commonHeight && rightScroll<lifeHeight) {
                    scrollTarget(1);
                }else if(rightScroll>lifeHeight && rightScroll<salaryHeight) {
                    scrollTarget(2);
                }else if(rightScroll>salaryHeight && rightScroll<workHeight) {
                    scrollTarget(3);
                }else if(rightScroll>workHeight && rightScroll<insuranceHeight) {
                    scrollTarget(4);
                }else if(rightScroll == 0) {
                    scrollTarget(0);
                }
            });
            $("input[name='other_reward']").focus(function() {
                $("input[name='other_reward']").attr({'placeholder' : ''});
            }).blur(function() {
                var v = $("input[name='other_reward']").val();
                if (v == '') {
                    $("input[name='other_reward']").attr({'placeholder' : '添加自定义，最多6个字'});
                }
            });

            $("#btnRwardCancel").click(function() {
                //取消并清空缓存
                cacheDefaultReward = '';
                cacheOtherReward   = '';  
                cacheDefaultName   = '';
                $(this).closeDialog();
            });

            $("#btnReardSave").click(function() {
                reward.getCacheData();
                jobAdd.refreshReward(cacheDefaultReward, cacheDefaultName, cacheOtherReward);
                var dlog = $(this);
                /* 判断企业福利是否同步 */
                if(is_perfect_rewards == 0 && cacheDefaultReward!='' ){
                    var a = $.confirm(
                        "您的企业资料“福利待遇”未完善，是否要同步到企业资料“福利待遇？”",
                        "同步福利待遇",
                        function() {
                            $.ajax({
                                url: '{/get_url rule="/reward/UpdateRewards"/}',
                                data: {'reward_ids':cacheDefaultReward,'other_reward':cacheOtherReward},
                                type: 'get',
                                dataType: 'json',
                                success: function(json) {
                                    // alert(json.msg);
                                    hbjs.use('@confirmBox', function(m) {

                                        var ConfirmBox = m['widge.overlay.confirmBox'],
                                            Dialog = m['widge.overlay.hbDialog'],
                                            cookie = m['tools.cookie'],
                                            fontSize = 18,
                                            pWidth = 70;

                                            ConfirmBox.timeBomb(json.msg, {
                                                name: 'success',
                                                width: 18 * json.msg.length + 70,
                                                timeout: 1000
                                            });
                                  })
                                }
                            });
                            dlog.closeDialog();
                      },
                        function() {
                          console.log('点击了取消')
                            dlog.closeDialog();
                        }

                    );
                }else{
                    dlog.closeDialog();
                }
            });
		},
        getCacheData : function() {
            $(".right_section ul a").each(function() {
                var c    = $(this).attr('class');//是否选择
                var type = $(this).attr('data-type');
                
                if (c == 'cur') {
                    if (type =='default') {
                        var reward_id = $(this).attr('date-rewardid');
                        var reward_name = $(this).html();
                            reward_name = reward_name.toLocaleLowerCase();
                        if (cacheDefaultName == '') {
                             cacheDefaultName = reward_name;
                        } else {
                            cacheDefaultName = cacheDefaultName + ','+ reward_name;
                        }
                        if (cacheDefaultReward == '') {
                            cacheDefaultReward = reward_id;
                        } else {
                            cacheDefaultReward = cacheDefaultReward + ','+ reward_id;
                        }
                    } else {
                        var reward = $(this).text();
                        reward = reward.toLocaleLowerCase();
                        if (cacheOtherReward == '') {
                            cacheOtherReward = reward;
                        } else {
                            cacheOtherReward = cacheOtherReward + ','+ $.trim(reward);
                        }
                    }
                }
            }); 
        }
    }   
reward.initialize();    

</script>