<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file='v2-widge.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file="comback.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="icons.css"/}" />
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = {
    HOST: '{/$siteurl.style/}',
    COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<style type="text/css">
    .section{font-family: "微软雅黑";font-weight: normal;}
    .section .l {float: left;width: 350px; height: 335px;}
    .section .r {float: left;width: 600px; height: 335px;}
    .section .r p {line-height: 24px;}
    .section h1 {padding-top: 70px;font-size: 16px;}
    .section h2 {font-size: 16px;}
    .section a {display: block;float: left;width: 130px;margin: 0px 60px 0px -2px;text-align: center;}
    .section .l i{background:url({/$siteurl.style/}/img/company/query.png) no-repeat; width: 60px; height: 60px;display: block;margin: 62px 0 0 283px}
    .section .item-box {margin-top: 20px;}
    .section .item-box .back-home {width:131px; background-color: #f0f0f0; display: inline-block;height: 31px;line-height: 31px;color: #898989;margin-top: 0px;}
</style>
</head>
<body id="body">
    {/include 'new_header.html' cur='发布职位'/}
    <div class="content" id="content">
        <section class="section">
            <div class="l">
                <i></i>
            </div>
            {/if $site_type == 4 && $com_level==1/}
                <div class="r">
                <h1>温馨提示：您当月发布次数已达上限，请联系招聘顾问</h1>
                {/if $hrManager['user_name']/}<p class="lt">招聘顾问：{/$hrManager["user_name"]/}</p>{//if/}
                {/if $hrManager['tel']/}
                <p class="lt">联系电话：{/$tel_head/}转{/$hrManager["tel"]/} [9：00-18：00]</p>
                {/else/}
                <p class="lt">联系电话：{/$HuiboPhone400/}</p>
                {//if/}
                {/if $hrManager['mobile']/}<p class="lt">手机号码：{/$hrManager["mobile"]|default:$customeruser["mobile"]/}</p>{//if/}
                <div class="item-box">
                    {/if !empty($hrManager["qq"]) || !empty($customeruser["qq"])/}
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={/trim($hrManager["qq"]|default:$customeruser["qq"])/}&site=qq&menu=yes">
                    <img src="{/$siteurl.style/}/img/newindex/qq.jpg" />
                    </a>
                    {/else/}
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2851501279&site=qq&menu=yes">
                        <img src="{/$siteurl.style/}/img/newindex/qq.jpg" />
                    </a>
                    {//if/}
                    <a href="{/get_url rule="/index/"/}" class="back-home">返回首页</a>
                </div>
            </div>
            {/else/}
                {/if $resource_type == 2/}
                <div class="r">
                    <h1>您的职位已使用完，请联系主账号为您分配更多资源。</h1>
                </div>
                {/else/}
                <div class="r">
                    {/if $account_type == "NotMember" && !$member && !$is_new_service/}
                    <h1>您还不是会员，只能发布{/$default_job_num/}个职位信息，发布更多职位请联系招聘顾问</h1>
                    <h2 style="margin-bottom:20px;">开通会员，即可发布更多职位！</h2>
                    {/else/}
                    <h1>温馨提示：您的职位已发布完，无法发布更多职位</h1>
                    {/if !$member && !$is_new_service/}<h2 style="margin-bottom:20px;">您可以选择成为我们会员，获取更多职位发布特权</h2>{//if/}
                    {//if/}

                    {/if $hrManager['user_name']/}<p class="lt">招聘顾问：{/$hrManager["user_name"]/}</p>{//if/}
                    {/if $hrManager['tel']/}
                    <p class="lt">联系电话：{/$tel_head/}转{/$hrManager["tel"]/} [9：00-18：00]</p>
                    {/else/}
                    <p class="lt">联系电话：{/$HuiboPhone400/}</p>
                    {//if/}
                    {/if $hrManager['mobile']/}<p class="lt">手机号码：{/$hrManager["mobile"]|default:$customeruser["mobile"]/}</p>{//if/}
                    <div class="item-box">
                        {/if !empty($hrManager["qq"]) || !empty($customeruser["qq"])/}
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={/trim($hrManager["qq"]|default:$customeruser["qq"])/}&site=qq&menu=yes">
                            <img src="{/$siteurl.style/}/img/newindex/qq.jpg" />
                        </a>
                        {/else/}
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2851501279&site=qq&menu=yes">
                            <img src="{/$siteurl.style/}/img/newindex/qq.jpg" />
                        </a>
                        {//if/}
                        <a href="{/get_url rule="/index/"/}" class="back-home">返回首页</a>
                    </div>
                </div>
                {//if/}
            {//if/}
            <div style="clear:both"></div>
        </section>
    </div>
</body>
</html>