<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style>
.reportBox{width:455px;font-size:14px;}
.reportBox .formMod .formRad{width:125px;}
.reportBox .formMod{float:left;}
.reportBox .formMod .formTextarea textarea.textarea{height:60px;}
.reportBox .formBtn{float:left; overflow: hidden;}
.reportBox .formBtn a{margin:0;}
.reportBox p.txt{line-height:30px;margin-bottom:5px; font-family:"微软雅黑";font-size:14px;clear: both;}
.reportBox p.error{clear:both;height:20px;line-height:20px;color:#de0000;font-size:12px;margin-bottom:10px;}
textarea.focus{background:#f2fcfe;border:1px solid #9fcdd6;box-shadow:0 0 5px #9fcdd6;}
.formRad {float: left;display: inline;}
.formRad input.radio {float: left;display: inline;margin: 9px 0 0;margin: 7px 0 0 \9;cursor: pointer;}
.formRad label {
	float: left;display: inline;height: 30px;line-height: 30px;margin: 0 15px 0 3px;cursor: pointer;
}
.formRad .rp9-tip {
    line-height: 30px;color: #999;display: none;font-size: 12px;
}
.tipPos{position:absolute;top:0;left:auto;right:-20px;}
.weChatList{width:400px; overflow:hidden;text-align:left; padding-bottom:10px;overflow: hidden;}
.weChatList li{width:180px; float:left; color:#333; background:url({/$siteurl.style/}/img/c/weIcon.png) left center no-repeat; padding-left:20px; line-height:24px;}

input.error {height: 13px !important;;line-height: 13px !important;}
.report_error{width: 100%; height: 30px; overflow: hidden; color: red;}
.noReport{width:100%;}
.noReport img,.noReport span{ display: inline-block; vertical-align: middle;}
.noReport span em{ color: #f00;}
.noReport img{width:17px; height: 15px; margin-right: 5px;}
.chatjobmsg{ display:block; padding-bottom:10px; color:#222;}
#rp1111{ display:inline-block;vertical-align: -2px;}
#chatReportSelectJob{ border:1px solid #ccc; padding:5px;width:167px; display: block;}
.webuploader-pick{ background: url({/$siteurl.style/}/img/company/upload_img_record.jpg) no-repeat!important;}
</style>
</head>
<body>
<form id="formReport" action="{/get_url rule="/report/reportdo/"/}" method="post">
<div class="dgBox reportBox">
	<input type="hidden" name="resume_id" id="resume_id" value="{/$resume_id/}"/>
	<input type="hidden" name="person_id" id="person_id" value="{/$person_id/}"/>
	<input type="hidden" name="complaint_tel" id="complaint_tel" value="{/$phone/}"/>
    <div class="noReport">
		<img src="{/$siteurl.style/}/img/company/video/eng_icon03.png" >
        {/if $isOverTwenty.invalid_result >= 30/}
        <span style="color: #f00;">举报被反馈不属实已达30次，本月将冻结举报功能</span>
        {/else/}
        <span><em>当月举报被反馈不属实超过30次，将关闭举报服务</em>(不属实次数：{/$isOverTwenty.invalid_result/})</span>
        {//if/}
    </div>
	<div class="reportBoxForm">
    	<p class="txt">举报原因</p>
        <div id="divReportType" class="formMod" style="margin-bottom:0; overflow:hidden;">
            {/if $report_from == "chat"/}
                <span class="formRad">
                    <input type="radio" style="height:auto;" class="radio rpchat" id="rp10" value="{/$advertharass/}" name="report_type"/>
                    <label for="rp10">聊一聊广告</label>
                </span>
                <span class="formRad">
                    <input type="radio" style="height:auto;" class="radio rpchat" id="rp11" value="{/$abuse/}" name="report_type"/>
                    <label for="rp11">聊一聊辱骂</label>
                </span>
            {//if/}
            {/if $isApplyed/}
            <span class="formRad">
                <input type="radio" style="height:auto;" class="radio" id="rp1" value="{/$empty_number/}" name="report_type"/>
                <label for="rp1">空号</label>
            </span>
            <span class="formRad">
                <input type="radio" class="radio" id="rp4" value="{/$stop/}" name="report_type"/>
                <label for="rp4">停机</label>
            </span>
            <span class="formRad">
                <input type="radio" class="radio" id="rp6" value="{/$no_self/}" name="report_type"/>
                <label for="rp6">不是本人</label>
            </span>
            <span class="formRad">
                <input type="radio" class="radio" id="rp7" value="{/$advertisement/}" name="report_type"/>
                <label for="rp7">广告简历</label>
            </span>
                {/if !$downloaded/}
                    <span class="formRad" style="width:240px;">
                        <input type="radio" class="radio" id="rp8" value="{/$meaningless/}" name="report_type"/>
                        <label for="rp8">无意义简历（乱填、乱写）</label>
                </span>
                {//if/}
                <span class="formRad" style="width: 100%">
                    <input type="radio" class="radio" id="rp9" value="{/$found_job/}" name="report_type"/>
                    <label for="rp9" style="margin-right: 5px;">已找到工作 <font color="#808080">(该类型不受举报次数限制,可无限举报)</font></label>
                    {/if $downloaded/}
                        <span class="rp9-tip" style="">(下载48小时内举报有效，逾期举报将不会返还简历点)</span>
                    {//if/}
                </span>
           {/else/}
            {/if $downloaded/}
                <span class="formRad">
                <input type="radio" style="height:auto;" class="radio" id="rp1" value="{/$empty_number/}" name="report_type"/>
                <label for="rp1">空号</label>
            </span>
                <span class="formRad">
                <input type="radio" class="radio" id="rp4" value="{/$stop/}" name="report_type"/>
                <label for="rp4">停机</label>
            </span>
                <span class="formRad">
                <input type="radio" class="radio" id="rp6" value="{/$no_self/}" name="report_type"/>
                <label for="rp6">不是本人</label>
            </span>
                <span class="formRad">
                <input type="radio" class="radio" id="rp7" value="{/$advertisement/}" name="report_type"/>
                <label for="rp7">广告简历</label>
            </span>
            {/if $show_notcontact/}
                <span class="formRad" style="width:240px;">
                        <input type="radio" class="radio" id="rp12" value="{/$notcontact/}" name="report_type"/>
                        <label for="rp12">联系不上求职者</label>
                </span>
            {//if/}
            <span class="formRad" style="width: 100%">
                <input type="radio" class="radio" id="rp9" value="{/$found_job/}" name="report_type"/>
                <label for="rp9" style="margin-right: 5px;">已找到工作 <font color="#808080">(该类型不受举报次数限制,可无限举报)</font></label>
                <span class="rp9-tip" style="">(下载48小时内举报有效，逾期举报将不会返还简历点)</span>
            </span>
            {/else/}
                <span class="formRad">
                <input type="radio" class="radio" id="rp7" value="{/$advertisement/}" name="report_type"/>
                <label for="rp7">广告简历</label>
            </span>
            <span class="formRad" style="width:240px;">
                    <input type="radio" class="radio" id="rp8" value="{/$meaningless/}" name="report_type"/>
                    <label for="rp8">无意义简历（乱填、乱写）</label>
            </span>
            {//if/}
            {//if/}
            {/if $report_from == "chat"/}
                <span class="formRad showaddchatblack" style="width: 100%;display:none">
                   <label for="rp1111" style="margin-right: 5px;">
                        <input type="checkbox" id="rp1111"  value="1" name="addchatblack"/>
                        同时加入黑名单
                   </label>
                </span>
            {//if/}
            <span class="formRad uploadreportimage" style="width: 100%;">
                <span>
                   {/$up_img_html.html/}
                </span>
                <label style="color:#999;font-size:12px">上传图片或录音证据可增加举报成功率</label>
            </span>
            <div style="clear: both;height: 0;"></div>
            <p class="txt" style="border-top: 1px solid #f1f1f1;margin-top: 8px;">一经核实，我们会</p>
            <ul class="weChatList">
                {/if !empty($downloaded)/}
                    {/if $downloaded['type'] == 1/}
                        <li>返还下载点<em class="day15back" style="display:none;color:#999;font-size:12px">（15天内返还）</em></li>
                    {/else/}
                        <li style="color:#f00;">返还所扣除的费用</li>
                    {//if/}
                {//if/}
                <li>屏蔽该简历</li>
                <li>站内信息通知您</li>
            </ul>
        </div>
        <div class="formBtn">
            <a href="javascript:void(0)" id="btnReportSubmit" class="btnsF14 btn1">提交</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
      <input type="hidden" name="hiddselectjobid"  value=""/>
</form>
<script type="text/javascript">

var uploader_img;
var ConfirmBox;
$(function () {
        var up_options_{/$up_img_html.id/} = {
                up_id: '.{/$up_img_html.id/}',
                auto: {/$up_img_html.config.auto/},
                BASE_URL: "{/$up_img_html.config.BASE_URL/}",
                fileNumLimit: {/$up_img_html.config.fileNumLimit/},//文件数量 默认5个 每张1M fileSingleSizeLimit: 1024 * 1024,
                fileSingleSizeLimit: {/$up_img_html.config.fileSingleSizeLimit/},//每个文件大小
                file_name: '{/$up_img_html.config.file_name/}',//返回接收上传的文件名称隐藏域
                fileVal: '{/$up_img_html.config.fileVal/}',//上传接收name
                defaults_files: {/$up_img_html.config.defaults_files/},//默认文件
                accept: {/$up_img_html.config.accept/},//允许文件类型
                formData: {/$up_img_html.config.form_data/},//上传删除携带参数
                headers: {'X-Requested-With': 'XMLHttpRequest'},//模拟ajax
                server: '{/get_url rule="/report/Picture/"/}',
                deleteServer: '{/get_url rule="/report/DelTempFile/"/}',
                error_hint_fun: function (msg) {
                        msg_error_box(msg);
                },
                confirm_hint_fun: function (confirm_msg, deleteServerAjax) {
                        //询问框
                        deleteServerAjax();
                },
        };
        uploader_img = $('.{/$up_img_html.id/}').powerWebUpload(up_options_{/$up_img_html.id/});
        $(".uploadreportimage").hide();
});

try {
	hbjs.use('cqjob.jobValidate, cqjob.jobForm, cqjob.jobDialog, cqjob.actions, widge.overlay.confirmBox', function($, form, jobDialog, actions, confirmBox){
		factory($.extend(form, jobDialog, actions), confirmBox);
	});
} catch (ex) {
	factory($);
}

function factory($, confirmBox){
	ConfirmBox = confirmBox;
        var report={
		init:function(){
			$.focusColor('input.text');
			var formReport = $('#formReport').validate({
				rules:{
					report_type:{required:true},
					rpDesc:{maxlength:256}
				},
				messages:{
					report_type:{required:'请选择举报类型'},
					rpDesc:{maxlength:'最长填写256个字<span class="tipArr"></span>'}
				},
				tips: {
					rpDesc:'最长填写256个字<span class="tipArr"></span>'
				},
				errorClasses:{
				    report_type:{required:'report_error'},
					rpDesc:{maxlength: 'tipLayErr tipw100'}
				},
				tipClasses:{
					rpDesc:'tipLayTxt tipw100'
				},
				errorElement:'p',
				errorPlacement: function(error, element)
				{
					if(element.attr('name')=='report_type'){
						error.insertAfter($('#divReportType'));
					}else{
						element.parent().nextAll().find('.tipLay').append(error);
					}
				},
				success: function(label)
				{ 
					$('#divReportType').next('p.error').remove();
					label.text(" ");
				}
			});
			$('#btnReportSubmit').click(function(){
				$(this).submitForm({beforeSubmit: $.proxy(formReport.form, formReport), success: report.successCallBack, clearForm: false });
				return false;
			});
                        $("#rp12").click(function(){
                            if($('#rp12').is(':checked')) {
                                showSelectJob();
                            }
                        });
                        
                        
		},
		successCallBack:function(json){
			var target = $('#btnReportSubmit');
			if(target[0].trigger){
				target[0].trigger('close');
			} else {
				target.closeDialog();
			}
			if (json && json.error){ 
                                if(json["type"] ==1){
                                    showAlert(json.error,'举报失败');
                                }else{
                                
                                    showModel('info', json.error);
                                }
				return;
                                
			}
			showModel('success',json.msg);
		}
	}
	var pWidth = 70,
		fontWidth = 18;
        
        function showSelectJob(){
            var job_html = "";
            {/foreach $job_list as $_job/}
            job_html += "<option value='{/$_job.job_id/}'>{/$_job.station/}</option>"
            {//foreach/}
            var html = "<span class='chatjobmsg'>您想沟通什么职位？</span><select name='selectJob' id='chatReportSelectJob'>"+job_html+"</select>";
             confirmBox.confirm(html, '请选择沟通的职位', function(){
                 var job_id = $("body").find("#chatReportSelectJob").val();
                 $("input[name='hiddselectjobid']").val(job_id);
                this.hide();
            }, null, {
                width: 200
            });
        }
        
	function showModel(icon, msg){
		confirmBox && confirmBox.timeBomb(msg, {
			name: icon,
			width: pWidth + msg.length * fontWidth
		});
	}
	function showAlert(msg,title){
            confirmBox.alert(msg,null, { title: title,width :310 }, function(){
                this.hide();
            });
        }
	report.init();
}

$(function () {
    $('.formRad input.radio').on('change',function () {
        if($('#rp9').is(':checked')) {
            $('#rp9').siblings('span').show();
            $(".day15back").show();
        } else {
            $('#rp9').siblings('span').hide()
             $(".day15back").hide();
        }
        if($('.rpchat').is(':checked')) {
            $(".showaddchatblack").show();
        }else{
            $(".showaddchatblack").hide();
        }
        if($('#rp7').is(':checked')) {
            $(".uploadreportimage").show();
        }else{
            $(".uploadreportimage").hide();
        }
    })
})

    //错误提示 success-成功 fail-错误 warning-警告 question-疑问  info-信息 normal-正常
    function msg_error_box(msg) {
        ConfirmBox.timeBomb(msg ? msg : "参数错误!", {
            name: 'fail',
            timeout: 2000,
            width: 70 + msg.length * 18
        });
        return false;
    }
</script>
</body>
</html>
