<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style>
.searcherBox{width:350px;font-size:12px;}
</style>
</head>
<body>

<div class="dgBox searcherBox">
<form id="frmSetResumeSeekerName">
	<div class="searcherForm">
        <div class="formMod">
            <span class="formText">
                <input type="text" class="text" id="txtSeekerName" value="{/$keyword/}" style="width:235px;" />
            </span>
            <span><a href="javascript:void(0);" id="btnSeekerSave" class="btn1 btnsF12">保存</a></span>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">

var searchseekeradd={
	init:function(){
	   $('#btnSeekerSave').click(function(){
		    var name = $('#txtSeekerName').val();
		    resumesearch.addResumeSeeker(name);
		});
	}
}
searchseekeradd.init();
$.focusColor('input.text');
</script>
</body>
</html>
