<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style>
.revFieldBox{width:460px;font-size:12px;}
.revFieldBox .formChb{width:110px; margin:0;}
.revFieldBox .formChb label{*margin:0; margin-right:0;}
.revFieldForm .formMod{margin-bottom:0;}
.revFieldForm{margin-bottom:10px;}
.revFieldBtn{margin:10px 0;}
.revFieldBtn a.btn1{margin-left:0;}
</style>
</head>
<body>

<div class="dgBox revFieldBox">
	<div class="revFieldForm">
        <div class="formMod">
            <span class="formChb"><input type="checkbox" name="deg" id="deg1" class="chb"><label for="deg1">性别</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg2" class="chb"><label for="deg2">年龄</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg3" class="chb"><label for="deg3">学历</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg4" class="chb"><label for="deg4">现居地</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg5" class="chb"><label for="deg5">工作年限</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg6" class="chb"><label for="deg6">最近工作</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg7" class="chb"><label for="deg7">简历更新时间</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg8" class="chb"><label for="deg8">户籍</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg8" class="chb"><label for="deg8">期望地区</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg8" class="chb"><label for="deg8">婚姻状况</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg8" class="chb"><label for="deg8">身高</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg8" class="chb"><label for="deg8">期望月薪</label></span>
            <span class="formChb"><input type="checkbox" name="deg" id="deg8" class="chb"><label for="deg8">目前月薪</label></span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="revFieldBtn"><a href="#" class="btn1 btnsF14">确定</a><a href="#" class="btn3 btnsF14">取消</a></div>
</div>
<script>
$.focusColor('input.text');
</script>
</body>
</html>
